<!-- <hello name="{{ name }}"></hello> -->
<ng-template *ngIf="halaman1; then templatetrue; else templatefalse"></ng-template>

<ng-template #templatetrue>
	<p>Input Note</p>
	<br><br>
Judul:
	<input type="text" [(ngModel)]="textjudul"/>
	<br><br>
Isi:
	<input type="text" [(ngModel)]="textisi"/>
	<br><br>
Tanggal:
	<input type="date" [(ngModel)]="texttanggal"/>
	<br><br>
	<button (click)="SAVE()">Save</button>
	<br><br><br>

	Show Detail:
	<input type="text" placeholder="Input Judul" [(ngModel)]="textcarijudul"/>
	<button (click)="OPENHALDETAIL()">Show Detail</button><br><br>
	<button (click)="OPENHALFAVORIT()">Show Favorites</button>

</ng-template>

<router-outlet></router-outlet>

<ng-template #templatefalse>
</ng-template>